/* a{

    text-decoration: none;
    background-color: red;
} */
.color{
    background-color: red;
    margin-bottom: 89px;
}
.ff{
    background-color: rgb(46, 33, 33);
}
.jj{
    background-color: blue;
}
.kk{
    background-color: aquamarine;
}
.l{
    background-color: greenyellow;
    width: 100%;
    border: 3px solid red;
    border-radius: 10px;
}
.kkk{
    background-color: blue;
    /* filter: blur(1px); */
    color: aqua;
    border: 2px solid red;
    text-shadow: 3px 6px 7px ;
    align-items: center;
    align-content: center;
    text-transform: capitalize;
}
.llm{
    background-color: blue;
}
.n:hover + .llm{

width: 100%;
background-color:greenyellow;
}
.o{
    text-transform: capitalize;
    text-wrap: 82px;
    background-color: blueviolet;
}
.target{
    background-color: green;
    color: pink;
}
body{
    height: 5500px;
}
.ha{
    color: palevioletred;
    background-color: aqua;
    filter: blur(2px);
    filter: invert(12px);
    filter: brightness(20px);
    border-radius:20px;
    border: 3px solid red;
  display: flex;
  justify-content: center;
}